name: Pull Request Labeler

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write # Use this if all labels already exist in the repository (i.e., pre-defined in .github/labeler.yml).

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Run Labeler
        uses: actions/labeler@v6.0.1
        with:
          sync-labels: true
